* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.navbar-brand img {
    height: 40px;
}

.navbar-toggler {
    border: 1px solid #ffffff;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.carousel-item img {
    height: 100vh;
    object-fit: cover;
}

.icon {
    height: 40px;
    background-color: hsl(197, 80%, 61%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    color: #ffffff;
    font-size: 24px;
}

.caja-negra {
    background-color: #000000;

}

.card {
    background-color: hsl(197, 80%, 61%);
    border: 2px solid gray;
    height: 100%;
    width: 80%;
}

.card img {
    height: 100%;
}

footer,
.boton {
    background: hsl(197, 80%, 61%);
    color: #ffffff;
}

.footer-icons {
    text-align: right;
    padding-right: 4rem;
}

.footer-titulo {
    padding-left: 4rem;
}